/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page { 
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text), sans-serif;
  font-variation-settings: 'wght' var(--main-text-wght);
  background-image: var(--background-gradient-vertical), var(--background-gradient-gorizontal), var(--background-gradient-smooth);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header { 
  margin-inline: var(--margin-content-block);
}

.header__title-block { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  inline-size: var(--content-block-wigth);
  background-color: #FFFFFF;
  border: 2px solid #000;
  margin-block: 100px 98px;
  padding: 130px 123px;
}

.main-page__logo,
.main-page__title { 
  font-family: var(--alternate-text), sans-serif;
  justify-self: center;
  text-transform: uppercase;
}

.main-page__logo { 
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.main-page__title { 
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
}

.content__card { 
  inline-size: var(--content-block-wigth);
  margin-inline: var(--margin-content-block);
  display: grid;
  grid-template-rows: auto;
  background-color: #FFFFFF;
  border: 2px solid #000;
}

.content__card:not(:first-child) { 
  margin-top: 50px;
}

.content__image-wrapper { 
  border-top: 2px solid #000; 
  border-bottom: 2px solid #000; 
  position: relative;
}

.content__image { 
  display: block;
  width: 100%;
  object-fit: cover;
}

.content__logo { 
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--alternate-text);
  mix-blend-mode: hard-light;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  z-index: 2;
  text-shadow: 
    -1px -1px 0 var(--stroke-color),
     1px -1px 0 var(--stroke-color),
    -1px  1px 0 var(--stroke-color),
     1px  1px 0 var(--stroke-color);
}

@supports (text-shadow: 1px var(--stroke-color)) or (-webkit-text-shadow: 1px var(--stroke-color)) { 
  .content__logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: 1px var(--stroke-color);
  }
} 

.content__title { 
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-text-wght-title);
  line-height: 1;
  padding: 4px 10px;
}

.content__text { 
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-text-wght);
  padding-inline: 25px;
  line-height: 1.2;
}

.text__description { 
  padding-block: 25px;
}

.text__memories { 
  padding-block-end: 25px;
}

.card__buttons { 
  display: flex;
  gap: 7px;
  justify-content: end;
  align-items: center;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.button { 
  font-family: var(--alternate-text);
  line-height: 0.9;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button { 
  min-width: 34px;
  min-height: 34px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s linear; 
}

.card__icon-button:focus { 
  outline: none;
}

.card__icon-button:focus-visible { 
  border-color: #000;
}

.button-hovered { 
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.card__like-button { 
  min-width: 130px;
  min-height: 38px;
}

.button__text { 
  font-size: 14px;
  line-height: 0.9; 
  font-family: var(--alternate-text);
  color: var(--button-text-color-hover);
  position: relative;
  z-index: 2; 
  mix-blend-mode: difference; 
}

.button-hovered::after { 
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0; 
  z-index: 0;
}

.button-hovered::before { 
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button-hovered:hover::before { 
  transform: translateX(0);
}

.button__shadow-focused { 
  transition: box-shadow 0.3s ease;
}

.button__shadow-focused:focus,
.button__shadow-focused:focus-visible { 
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.content__card:last-child { 
  background-color: transparent;
  border: none;
}

.content__button-section { 
  display: flex;
  justify-content: center;
}

.floppy__image { 
  min-height: 21px;
  min-width: 21px;
  color: #fff;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.button__dialog-open {  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 17px 20px;
  margin-block-end: 100px;
}

.dialog__window { 
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  border: 2px solid #000;
  background-color: #fff;
  padding-inline: 30px;
  padding-block: 30px;
}

.dialog__window[open] { 
  display: block;
}

.dialog__content { 
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: auto;
  column-gap: 20px;
}

.dialog__icon { 
  min-width: 39px;
  min-height: 39px;
  justify-self: center;
  align-self: center;
}

.dialog__text,
.dialog__button-window-close { 
  text-transform: uppercase;
}

.dialog__text { 
  font-family: var(--alternate-text);
  font-size: 14px;
  line-height: 1.4;
}

.dialog__button-window-close { 
  min-width: 293px;
  min-height: 38px;
  margin-block-start: 30px;
}

 dialog::backdrop { 
  background-color: rgb(0 0 0 / 0.75);
}

 @media (width <= 375px) { 
.header__title-block { 
  inline-size: 100%;
  padding: 121px 16px;
  margin-block: 100px 98px;
}

.content__title { 
  line-height: 1.2;
  padding: 6px 12px;
}

.content__text { 
  padding-inline: 27px;
}

.text__description { 
  padding-block-start: 25px;
  padding-block-end: 21px;
}

.floppy__image { 
  min-height: 28px;
  min-width: 28px;
}

.button__dialog-open { 
  flex-direction: column;
  background-color: #fff;
}
}

.bright { 
  filter: brightness(50%) grayscale(70%);
}

.contrast{ 
  filter: contrast(220%);
}

.hue-changed { 
  filter: hue-rotate(30deg);
}

.inverted { 
  filter: invert(0.9) brightness(70%);
}

.sepia { 
  filter: sepia(100%);
}

.blured { 
  filter: blur(3px);
}

.saturated { 
  filter: hue-rotate(90deg) saturate(150%);
}

/*анимации*/
.sparks { 
  opacity: 0;
}

.contour { 
  transition: fill 0.1s linear 0s;
}

.core { 
  transition: fill 0.3s linear 0.03s;
  
}

.main-body { 
  transition: fill 0.3s linear 0s;
}

.heart {
transform-origin: center;
}

.like-icon:hover .core { 
  fill: black;
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body { 
  fill: black;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core { 
  fill: var(--animation-heart-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body { 
  fill: var(--animation-heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-heart-fill-color);
  transition: fill 0.3s linear 0s;
 }

.like-icon.is-liked .main-body { 
  fill: var(--animation-heart-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .contour { 
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart { 
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks { 
  opacity: 0;
  animation: sparks-blink 0.3s ease-in 0.3s;
}